* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgba(0, 0, 0, 0.36);
    padding: 30px 40px;
    height: 90px;
}

.headerTitle{
    text-align: center;
    padding: 5px;
    color: white;
    font-size: 32px;
}

.textInput {
    border: none;
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.item {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    user-select: none;
}

.item:nth-child(odd) {
    background: #F9F9F9;
}

.item:hover {
    background: #ddd;
}

.item.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

.item.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #D568E4;
    color: white;
}